body{
    background-color: #DDD;
}   

.encabezado{
    background-color: green;
}

.encabezado nav .titulo{
    color: white;
}

.encabezado nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.encabezado nav ul a:hover{
    background-color: burlywood;
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: green;
    display: none;
}

.encabezado nav ul li ul li{
    width: 200px;
    position: relative;

}

.encabezado nav ul li ul li ul {
    top: 0;
    left: 160px;
    position: absolute;
    
}

.encabezado nav ul li:hover > ul {
    display: block;
}

h1#titolInici {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 30px auto;
    text-align:center;
    padding:10px;
    background-color:white;
}
   
#paragrafInici{
   position: absolute;
   left: 10%;
   top: 13.5%;
   width: 80%;
   border: solid black 1px;
   text-align: center;
   padding:10px;
   background-color:#f2e7c3;
}
    
.imatgeInici{
    width: 35%;
    margin: 10px;
}

.body{
    border: 2px solid rebeccapurple;
    background-color: rgb(179, 177, 177);
}

div.titolLlista{
    position: absolute;
    margin-top: 37.5%;
    margin-left: 22%;
    width: 55%;
    padding: 1%;
    text-align: center;
    border: 2px solid blue;
    background-color:#f2e7c3;
    color: blue;
}

div.titolLlista h3{
    font-size: 3em;
}

div.llistaEquips{
    position: absolute;
    margin-top: 45%;
    margin-left: 10%;
    width: 80%;
    border: solid black 1px;
    text-align: center;
    padding: 2%;
    background-color:#f2e7c3;
}

div.llistaEquips li{
    border: 2px solid gray;
    text-decoration: none;
    text-align: center;
    color: green;
    padding: 1.5%;
    background-color:#dcc784;
    display: block;
    width: 20%;
    margin-left: 40%;
    font-size: 1.5em;
}
